<h1>{{title}}</h1>
<p>
    <button (click)="onclick()">Click me!</button>
    <label>{{sometext}}</label>
</p>
<button (click)="toggle()">Toggle</button>
<div *ngIf="displayName">
  <ul>

    <li *ngFor="let name of names">
      The name is: {{ name.name }}

      <span [ngSwitch]="name.tag"><br />Vet Status: 
        <span *ngSwitchCase=1>Female Vet</span>
        <span *ngSwitchCase=2>Female Non-Vet</span>
        <span *ngSwitchCase=3>Male Vet</span>
        <span *ngSwitchCase=4>Male Non-Vet</span>
      </span>
      <!-- using a ternary operator below -->

      <span><br />Bool: {{ name.abool ? "Yay-ah" : "Aww-naw" }}</span>

      <br />

      <span *ngIf="name.abool">True</span>
      <span *ngIf="!name.abool">False</span>
    </li>
  </ul>
</div>

<br />
<br />

<input type="text" [(ngModel)]="aMessage"><label>{{ aMessage }}</label>
